<div class="row">
  <div class="col-md-4">
    <br/>
    <%= link_to "Edit Your Details", edit_user_registration_path, class: 'btn btn-primary' %><br/>

    <br/>

    <%= link_to "Downgrade to Standard", user_path(current_user, role: 'standard'),
      data: { confirm: "Are you sure?" }, method: :put, class: 'btn btn-primary' %>
      <%#binding.pry%>
  </div>
</div>
